
body { 
    top: 0;
    padding: 0;
    margin: 0;
}



.grid { 
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 2fr 1.5fr 6fr;
    grid-template-areas:
    "header header "
    "sidebar subheader"
    "sidebar main"
    ;
    width: 100vw;
    height: 100vh;
    
}


a:visited{ 
text-decoration: none;
color: #27374D ;
}


a { 
    text-decoration: none;
    color: #27374D ;
    }



.item-a { 
    grid-area: header;
    background-color: #27374D ;
}

.item-a h1 { 
    text-align: center;
    color: white;
    padding: 70px 0 ;
    font-size: 48px;
}

.item-b { 
    grid-area: subheader;
    background-color: #9DB2BF;
}

.item-c { 
    grid-area: sidebar;
    background-color: #DDE6ED;
    height: 100%;
}

.item-c ul { 
    list-style-type: none;
    padding: 10px 10px;
    text-align: center;
    line-height: 2.5;
    color: #27374D;
    font-weight: bold;
}

.item-b h3 { 
    text-align: center;
    color: #132731;
    padding-bottom: 30px;

}

.item-b h2 { 
    text-align: center;
    color: #132731;
    font-size: 50px;
    padding-top: 10px;

}

.selected { 
    background-color: #F9F871 ;
}



.item-d { 
    grid-area: main;
}

.item-d ul { 
    list-style-type: none;
    margin: 10px ;
    
}

.item-d ul li { 
    line-height: 1.5;
}



.item-d .color-01 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #27374D;
    margin: 50px 0;
}

.item-d .color-02 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #526D82;
    margin: 50px 0;
}

.item-d .color-03 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #9DB2BF;
    margin: 50px 0;
}

.item-d .color-04 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #DDE6ED;
    margin: 50px 0;
}

.item-d .color-05 { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #F9F871;
    margin: 50px 0;
}






.color_sample { 
    border-spacing: 50px;
}

.color-name { 
    font-weight: bold;
}

.color-code { 
    font-weight: bold;
}

.item-d .lato_style { 
    padding: 10px 30px ;
    font-family: "Lato";
}

.lato_style p { 
    line-height: 1.5;
}

.item-d .font_style_lato { 
    font-weight: bold;
}

.item-d h3 { 
    font-size: 40px;
}

.item-d .type_scale { 
    margin-top: 100px ;
}

.item-d .lato_style td { 
    padding: 10px ;
    padding-right: 40px ;

}

.item-d table { 
    font-family: "Lato";
}

.item-d tr .scale_sample h1 { 
    font-size: 48px  ;
}

.item-d tr .scale_sample h2 { 
    font-size: 36px  ;
}

.item-d tr .scale_sample h3 { 
    font-size: 30px  ;
}

.item-d tr .scale_sample_body { 
    font-size: 18px;
   
}

.sample_detail { 
    color: #526D82;
}

#description { 
    color: #526D82 ;
}